* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
:root {
  --main-background-color: #fff5f0;
  --main-background-color-dark: #44180e;
  --main-dark: #1e1e1e;
  --main-text-color-dark: #ffbe99;
  --main-box-shadow-dark: #b67e5c;
}
body {
  background-color: var(--main-background-color);
}
body.dark {
  background-color: var(--main-background-color-dark);
}
#dark-theme {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  right: 0.5%;
  top: 1%;
  width: 1.5em;
  height: 1.5em;
  padding: 0.2em;
  font-size: 2em;
  border-radius: 50%;
}
#dark-theme i {
  font-size: 0.8em;
}
#dark-theme.dark {
  color: var(--main-text-color-dark);
  background-color: var(--main-background-color-dark);
  box-shadow: 2px 2px 2px 2px var(--main-box-shadow-dark);
}

header {
  margin-bottom: 1em;
}

header .container,
nav .container {
  width: 90%;
  margin: auto;
}

.header_img img {
  width: 100%;
  margin-top: 1em;
}

/* starting navbar */

nav .container {
  position: relative;
}
.navbar {
  background-color: #fff;
  border-radius: 1em;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}
.navbar.dark {
  background-color: #ffbe9988;
}
.nav_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.4em;
  padding: 1em 2em;
  background-color: #ff8d4d;
}

.nav_logo img {
  height: 80%;
}
.nav_logo_img {
  width: 20%;
  height: 80%;
}
.nav_items_button {
  display: none;
  justify-content: flex-end;
  align-items: center;
  padding: 1em 1em;
  border-width: 0px 2px 0px 2px;
  border-style: solid;
  border-color: var(--main-dark);
  width: 20%;
}
.nav_items_button img {
  margin: auto;
}

.nav_items ul {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 100%;
}
.nav_items ul li {
  list-style: none;
  height: 100%;
  padding: 1em 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 2px solid var(--main-dark);
}
.nav_items ul li:nth-child(1) {
  background-color: #ffefe5;
  border-left: 2px solid var(--main-dark);
}
.nav_items.dark ul li:nth-child(1) {
  background-color: #44180e;
  border-left: 2px solid var(--main-dark);
}
.nav_items ul li:last-child {
  background-color: #ffae80;
}
.nav_items.dark ul li:last-child {
  background-color: #ae4825;
}
.nav_items.dark ul li {
  background-color: #7b2e1a;
}
.nav_items.dark ul li {
  color: var(--main-text-color-dark);
}
.nav_items.dark {
  background-color: var(--main-background-color-dark);
}

/* starting hero section */
.banner_section {
  margin-bottom: 10em;
}

section .container {
  padding-inline: 8em;
  margin-top: 2em;
}

.hero_banner {
  display: flex;
}
.hero_banner_img,
.hero_banner_img img {
  width: 100%;
}

.hero_banner_description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding-inline-start: 1em;
}

.hero_banner_description_info {
  margin-top: 1em;
}
.hero_banner_description_info p:first-child {
  font-weight: bold;
  margin-bottom: 0.2em;
}
.hero_banner_description_info .line {
  width: 16em;
  height: 0.05em;
  background-color: black;
  margin-bottom: 0.2em;
}

.hero_banner_description_info h1 {
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 1em;
}
.hero_banner_description_info h1 span {
  color: #ff8d4d;
}
.hero_banner_description_info.dark * {
  color: var(--main-text-color-dark);
}
.hero_banner_description_info.dark h1 span {
  color: #c7643c;
}

.hero_banner_description_statistics {
  display: flex;
  gap: 1.1em;
  padding: 1em 2em;
  margin-top: 2em;
  background-color: #ffefe5;
  box-shadow: 8px 8px 0px 1px #ffbe99;
  border-radius: 1em;
}
.hero_banner_description_statistics.dark {
  background-color: #44180e;
  color: var(--main-text-color-dark);
  box-shadow: 8px 8px 0px 1px var(--main-box-shadow-dark);
  border-radius: 1em;
}
.hero_banner_description_statistics > * {
  display: flex;
  flex-direction: column;
}

.hero_banner_description_statistics p:first-child {
  font-weight: bolder;
  font-size: 2em;
}

/* starting our benefits section */
.our_benefit_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 6em;
}
.our_benefit_info > div {
  background-color: white;
  border: 2px solid black;
  width: fit-content;
  padding: 0.3em 0.4em;
  border-radius: 0.4em;
  margin-bottom: 1em;
}
.our_benefit_info.dark > div {
  background-color: var(--main-background-color-dark);
  border: 2px solid var(--main-box-shadow-dark);
  color: var(--main-text-color-dark);
  width: fit-content;
}
.our_benefit_info.dark * {
  color: var(--main-text-color-dark);
}
.our_benefit_info > h2 {
  font-size: 3em;
  margin-bottom: 0.5em;
}

.our_benefit_info > p {
  padding: 0em 8em;
}

.our_benefit_items {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  row-gap: 4em;
}

.our_benefit_item_container {
  width: calc((100% - 4em) / 3);
  border: 2px solid #262626;
  border-radius: 1em;
  box-shadow: 6px 6px 0px 2px var(--main-dark);
  padding: 3.5em 1.5em 2em;
  position: relative;
}
.our_benefit_items.dark .our_benefit_item_container {
  border: 2px solid var(--main-box-shadow-dark);
  box-shadow: 6px 6px 0px 2px var(--main-box-shadow-dark);
  color: var(--main-text-color-dark);
}
.our_benefit_items.dark .our_benefit_item_container h3 {
  color: var(--main-text-color-dark);
}
.our_benefit_item_container .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 0.4em;
  height: 3em;
  width: 3em;
  background-color: #ffdecc;
  border: 2px solid #262626;
  top: -10%;
  left: 8%;
}
.our_benefit_item_container.dark .logo {
  background-color: #a66e50;
  border: 2px solid #35211c;
}
.our_benefit_item_container .logo img {
  width: 60%;
  height: 60%;
}

.our_benefit_item_container .card h3 {
  color: #1a1a1a;
  font-weight: 700;
  margin-bottom: 1em;
}

/* starting media query */

@media (max-width: 1200px) {
  html {
    font-size: 14px;
  }
  .container {
    padding-inline: 12em;
  }
  .nav_items ul li {
    width: 5em;
  }
  .our_benefit_info > p {
    padding-inline: 2em;
  }
  .our_benefit_item_container {
    padding: 2.5em 1em 2.5em;
  }
  .hero_banner_description_statistics p:first-child {
    font-weight: bolder;
    font-size: 1.5em;
  }
}

@media (min-width: 991px) and (max-width: 1200px) {
  .container {
    padding-inline: 8em;
  }
  .nav_items ul li {
    width: 5em;
  }
  .our_benefit_info > p {
    padding-inline: 2em;
  }
  .our_benefit_item_container {
    padding: 2.5em 1em 2.5em;
  }
  .hero_banner_description_statistics p:first-child {
    font-weight: bolder;
    font-size: 1em;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 12px;
  }
  .container {
    padding-inline: 6em;
  }
  .nav_items ul li {
    width: 5em;
  }
  .our_benefit_info > p {
    padding: 0em 0.4em;
  }
  .our_benefit_item_container {
    padding: 2.5em 1em 2.5em;
  }
  .hero_banner_description_statistics p:first-child {
    font-weight: bolder;
    font-size: 1em;
  }
}

@media (max-width: 767px) {
  html {
    font-size: 12px;
  }
  nav {
    margin-bottom: 4em;
  }
  section .container {
    padding-inline: 2em;
  }
  .container {
    padding-inline: 3em;
  }

  .navbar .nav_items {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
  }

  .navbar .nav_items.show {
    display: flex;
    height: 50%;
  }
  .nav_items_button {
    display: flex;
  }
  .hero_banner {
    display: flex;
    flex-direction: column;
  }
  .hero_banner_description {
    align-items: center;
    text-align: center;
    margin-top: 2em;
  }
  .hero_banner_description_info .line {
    margin-left: 7.5em;
    margin-bottom: 1em;
  }
  .hero_banner_description_info h1 {
    font-size: 3em;
  }
  .hero_banner_description_info p:last-child {
    font-size: 2em;
  }
  .hero_banner_description_statistics {
    flex-direction: column;
    width: 100%;
    padding-block: 2em;
  }
  .hero_banner_description_statistics p:first-child {
    font-size: 3em;
    font-weight: bolder;
  }
  .hero_banner_description_statistics p:last-child {
    font-size: 1.5em;
    border-bottom: 2px solid black;
    margin-bottom: 1em;
    padding-bottom: 1em;
  }
  .hero_banner_description_statistics div:last-child p:last-child {
    border-bottom: 0px solid black;
  }
  .our_benefit_info > div p {
    font-size: 2em;
  }
  .our_benefit_info > h2 {
    font-size: 5em;
    margin-bottom: 0.5em;
  }

  .our_benefit_info > p {
    font-size: 2em;
    padding: 0em 1em;
  }

  .our_benefit_item_container {
    width: 100%;
    padding-inline: 2em;
  }

  .our_benefit_item_container .card {
    padding-block: 2em;
  }
  .our_benefit_item_container .logo {
    height: 4em;
    width: 4em;
  }
  .our_benefit_item_container .card h3 {
    font-size: 2em;
  }
  .our_benefit_item_container .card p {
    font-size: 2em;
  }
  .nav_items ul li {
    background-color: #fff !important;
  }
}
/* /////////////////////Abdlefattah /////////////////////// */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(255, 241, 235);
  padding: 3em 1.25em;
}

.main-container {
  max-width: 75em;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.text-container {
  text-align: center;
  margin-bottom: 1.5em;
}

.btn {
  text-align: center;
  margin: 0 auto;
  width: max-content;
  padding: 0.6em 1.25em;
  background-color: #ffffff;
  border-radius: 0.5em;
  border: 0.125em solid #333333;
  font-family: "Outfit", sans-serif;
  font-size: 1em;
  font-weight: 500;
  text-align: center;
  color: #333333;
}

.heading {
  max-width: 45ch;
  font-size: 3em;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #1a1a1a;
}
.text {
  font-family: "Outfit", sans-serif;
  font-size: 1.125em;
  color: #333333;
  text-align: center;
  max-width: 60ch;
  margin-bottom: 3.5em;
}

.cards {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.125em;
  align-items: stretch;
}

.nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #fff;
  border: 0.145em solid #333;
  border-radius: 0.5em;
  padding: 0.4em;
  cursor: pointer;
}
.cards .nav:first-of-type {
  left: -3.5rem;
}
.cards .nav:last-of-type {
  right: -3.5rem;
}

.card-item {
  display: none;
}

.card-item.active {
  background-color: #ffffff;
  border: 0.125em solid #262626;
  padding: 2em;
  border-radius: 0.75em;
  box-shadow: 0.375em 0.375em #1e1e1e;
  width: 100%;
  display: flex;
  opacity: 1;
  transform: scale(1);
  flex-direction: column;
  align-items: center;
  gap: 1.88em;
}

.card-item .profile-picture {
  border: 0.06em solid #333333;
  border-radius: 50%;
  background-color: rgb(255, 241, 235);
  height: 5em;
  width: 5em;
}

.card-item .profile {
  width: 100%;
  text-align: center;
}
.card-item .profile h3 {
  font-family: "Outfit", sans-serif;
  font-size: 1.125em;
  margin-top: 1em;
}

.card-text {
  font-family: "Outfit", sans-serif;
  font-size: 1.125em;
  text-align: center;
}

.size-6 {
  width: 2.25em;
  height: 2.25em;
  align-self: center;
  font-weight: 600;
  background-color: #ffffff;
  padding: 0.5em;
  border-radius: 0.5em;
  border: 0.145em solid #333333;
}

@media (max-width: 75em) {
  .text {
    margin-bottom: 2.5em;
  }
}

@media (max-width: 62em) {
  body {
    padding: 2.5em 1em;
  }
}

@media (max-width: 48em) {
  .cards {
    position: static;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem 1.25rem;
  }

  .cards .card-item {
    order: 1;
    flex: 1 0 95%;
    margin: 0 auto;
  }
  /* .cards .card-item:not(:first-of-type) {
    display: none;
  } */
  .card-item.active {
    background-color: #ffffff;
    border: 0.125em solid #262626;
    padding: 2em;
    border-radius: 0.75em;
    box-shadow: 0.375em 0.375em #1e1e1e;
    width: 100%;
    display: flex;
    opacity: 1;
    transform: scale(1);
    flex-direction: column;
    align-items: center;
    gap: 1.88em;
  }

  .cards .nav {
    position: static;
    order: 2;
    flex: 0 0 auto;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin-top: 2.5em;
  }
  .text {
    margin-bottom: 1.5rem;
  }
  .main-container {
    gap: 0.5rem;
  }
}

/* //////////////////Ahmed Abdelahmeed//////////////////////
//////////////////////////////////////////////////////// */

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #fbeee6;
  margin: 0;
  padding: 20px;
}

.maincontainer {
  width: 80%;
  margin: auto;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 15px;
}

.item {
  background: #fff5ef;
  border: 1px solid #ddd;
  border-radius: 10px;

  grid-column: span 6;

  justify-content: space-between;
  align-items: center;
  padding: 15px;
  font-size: 16px;
  cursor: pointer;
  height: 30%;
  position: relative;
}

.question:hover {
  background: #f1e1d8;
}

.answer {
  max-height: 0;
  overflow: hidden;
  padding: 0 15px;
  font-size: 14px;
}
.item.active {
  height: fit-content;
  background-color: #ffffff;
}

.item.active .question span:first-child {
  border-bottom: 2px solid black;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
}
.item.active .answer {
  max-height: 200px;
  padding: 15px;
  background-color: #ffffff;
}

.icon {
  font-size: 20px;
  font-weight: bold;
  border: 1px solid black;
  background-color: #ffefe5;
  padding: 0.1em 0.2em;
  position: absolute;
  top: 10px;
  right: 10px;
}

@media (max-width: 767px) {
  .item {
    grid-column: span 12;
  }

  .maincontainer {
    width: 100%;
  }
}
